<h1><%= @celebrity.name %></h1>
<div class=container-image-show">
  <%= image_tag @celebrity.picture, :class => "image-show" %>
</div>

<p><%= @celebrity.description %></p>
<p><%= @celebrity.source %></p>
