.navbar {
 height: 250px;
}
a, h3, h1 {
  font-family: 'Ubuntu Mono', ;
}
.form-control {
  margin-bottom: 30px;
}
// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
